@import url(./__illustration/feinman__illustration.css);
@import url(./__link/feinman__link.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__title/feinman__title.css);

.feinman {
    background-color: #F2F2F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    height: 790px;
    padding-top: 80px;
    background-image: url(/images/feinman.png);
    background-repeat: no-repeat;
    background-position: left bottom;
   
}