.feinman__subtitle {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    z-index: 3;
}