.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    /* выше установили ограничения для секции */
   
}
.logo {
    
}
.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    width: 183px;
    height: 32px;
}
.header__title {
    display: flex;
    align-items: center;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin-left: 64px;
}
.header__subtitle {
    line-height: 25px;
    font-size: 18px;
    width: 388px;
    font-weight: normal;
    position: absolute;
    bottom: 30px;
    left: 64px;
    
}
.header__link {
    line-height: 25px;
    font-size: 18px;
    text-decoration: none;
    font-weight: normal;
    color: #2f80ED;
}
.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2f80ED;
    width: 568px;
    height: 568px;
    z-index: 1;
}
.description {
    display: flex;
    justify-content: center;
    margin-top: 100px; 
    margin-bottom: 100px;
}
.two-columns    {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.two-columns__brief {
    
    width: 175px;
    text-decoration: none;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
}
h4 {
    margin-top: 0px;
}
.two-columns__main-text {
     width: 80%;
     min-width: 784px;
}
.two-columns__paragraph {
    line-height: 34px;
     font-size: 24px;
     font-weight: normal;
     margin-top: 30px;
     margin-bottom: 0px;
         
}
.two-columns__paragraph:first-of-type{
    margin-top: 0px;
}

.two-columns__span-accent {
     font-weight: bold;
}

.digits {
    justify-content: center;
}

.section-title {
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    left: 60%;
    margin-bottom: 20px;
    
}

.section-subtitle {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center; 
}

.table {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 1100px;
    margin-bottom: 100px;

}

.table__cell {
    width: 250px;
    margin-top: 60px;

}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 0px;
    
}

.feinman {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 790px;
   
}
.feinman__title {
    margin-top: 100px;
    margin-bottom: 70px;
    align-self: center;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    width: 648px;
    text-align: center;
    z-index: 2;

}

.feinman__subtitle {
    align-self: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    z-index: 3;
}

.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: black;

}
.feinman__illustration {
     width: 867px;
     height: 637px;
     position: absolute;
     left: 0;
     bottom: 0;
     z-index: 1;

}

.kaufman {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: #1F1F1F;

}
.section-title_theme_dark {
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 20px;
    width: 60%;
    align-self: center;
    color: white;
    
}
.section-subtitle_theme_dark {
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    align-self: center;
    color: white;

}
.table_theme_dark {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  flex-wrap: wrap;
  width: 1100px;
  z-index: 2;
  color: white;
}
.table__cell_theme_dark {
    width: 200px;
    margin-top: 80px;

}

.table__heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;

}

.table__text_theme_dark {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
    color: white;

}

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    top: 0px;
    right: -210px;
    z-index: 1;

}

.footer {
    background-color: #1F1F1F;
    min-height: 350px;
    box-sizing: border-box;
    padding: 60px 0px 40px;
  
}
.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    
}
.footer__column_content_coopyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.logo_place_footer {
    width: 183px;
    height: 35px;
    margin-left: 0px;
    background-image: url(../images/logo_white.svg);

}
.footer__author {
    color: white;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    width: fit-content; 
    
}
.footer__column {
    min-height: 250px;

}

.footer__column_content_info {

}
.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0px 0px 20px;

}
.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    margin: 20px 0px 16px;
    padding: 0px;
    list-style-type: none;

}
.footer__column-link {
    color: white;
}
.footer__column_content_social {

}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;

   


}
