.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ED;
    text-decoration: none;
}

.khan__buy-link:hover {
    opacity: 0.5;
    -webkit-transition: 2s linear;
    -o-transition: 2s linear;
    transition: 2s linear;
}